* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* NAVBAR */
.navbar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
}

.navbar nav a {
    margin-left: 20px;
    text-decoration: none;
    color: oklab(22.869% 0.00296 0.0009 / 0.955);
}

/* Hero */
.hero {
    display: flex;
    padding: 40px;
    background: lab(69.35% -63.58 44.46);

    align-items: center;
    background: url("assets/hero-bg.png");
}

.hero-text {
    width: 60%;
    color: rgb(255, 255, 255);

}

.hero-text h1 {
    font-size: 78px;
    color: rgb(7, 243, 23);

}

.hero-text p {
    margin: 30px 0;
    color: rgb(121, 244, 6);

}

.hero-text button {
    
    padding: 10px 25px;
    background: #1ea30d;
    color: oklab(84.641% -0.18243 0.16983);
    border: none;
}

/* STATS */
.stats {
    display: flex;
    justify-content: space-around;
    padding: 50px;
}

/* FEATURES */
.features {
    padding: 80px;
    background: lch(63.55% 79.3 61.87);
    text-align: center;
}

.feature-grid {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.card {
    width: 250px;
}

.whitish-border {
  border: 1.5px solid rgba(255, 255, 255, 0.35);
  transition: 0.3s ease;
}

.whitish-border:hover {
  border-color: rgba(255, 255, 255, 0.9);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.35);
}

/* PROCESS */
.process {
    padding: 80px;
    background: lch(63.55% 79.3 61.87);
    text-align: center;
}

.steps {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}

.step span {
    font-size: 32px;
    font-weight: bold;
}

/* BENEFITS */
.benefits {
    display: flex;
    padding: 80px;
}

.benefits-left {
    width: 80%;
}

.benefits-left ul {
    margin-top: 40px;
}

.benefits-left li {
    margin: 20px 0;
}

.benefits-right {
    width: 50%;
    text-align: center;
}

/* TESTIMONIAL */
.testimonial {
    padding: 80px;
    text-align: center;
}

.testimonial-box {
    width: 500px;
    margin: auto;
}

/* CTA */
.cta {
    padding: 80px;
    background: lch(63.55% 79.3 61.87);
    color: hsl(225, 92%, 35%);
    text-align: center;
}

.cta button {
    margin-top: 20px;
    padding: 12px 30px;
    color: hsl(225, 92%, 35%);
    border: white;
}

/* FOOTER */
.footer {
    background: rgb(25, 18, 76);
    color: rgb(234, 143, 8);
    text-align: center;
    padding: 30px;
}
